# 프로젝트 실행 전에 `.env` 파일에 아래의 내용을 입력해 주세요.
# - `.env` 파일이 없을 경우, 이 파일과 같은 위치에 새로 생성해 주세요.

# Base Network
VPC_CIDR="172.31.0.0/16"
VPC_SUBNET_CIDR_MASK="20"
VPC_MAX_AZS="3"
DEFAULT_HOSTED_ZONE_NAME="example.com"
